body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    text-align: center;
}

h1::after,
h1::before {
    content: " 🎄 ";
}

p {
    font-size: small;
    text-align: right;
}

ol {
    font-size: 250%;
    padding-bottom: 5em;
    padding-top: 3em;
}

li:nth-child(odd) {
    color: red;
}

li:nth-child(even) {
    color: green;
}

li::before {
    content: "🎁 ";
}